:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    /*BLACK MODE */
    /*background-color: #112322;*/
    /*color: white;*/

    /*WHITE MODE */
    background-color: white;
    color: black;

    /*background-image: url('./paper-623167.jpg');*/
    /*background-image: url('./darken-background.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    /*margin: 6px 3%;*/
    /*margin: 6px 0;*/
    margin: 6px 3%;
}

#main-axis {
    display: flex;
    flex-direction: column;
}

#head {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: baseline;
    /*justify-content: space-around;*/
    /*text-align: center;*/
    margin-bottom: 1%;
}

.block {
    /* In percent, the padding depend of the size of the current div*/
    /*padding: 1.5%;*/
    padding: 1.1em;


    border: 1px solid black;

    /* WHITE MODE */
    background-color: rgba(255, 238, 198, 0.6);

    /* BLACK MODE */
    /*background-color: rgba(75, 70, 58, 0.6);*/
}

#main-title {
    /*margin: 10px;*/
    /*padding: 20px;*/
    /*padding-top: 0px;*/

    margin-right: 3%;
    width: 40%;
    flex-shrink: 0;
}

.subtitle {
    margin-top: 1.2%;
    margin-left: 2%;
}

#intro-phrase {
    font-size: 10pt;
    margin-bottom: 1%;
    text-align: justify;
    text-justify: inter-word;
}

#story-text {
    text-align: justify;
    text-justify: inter-word;
}

.header-item-flex {
    padding-right: 2%;
}

#key-measures {
    display: flex;
    flex-direction: row;
}

.key-measure {
    font-size: 2em;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-top: 0;
}

h2 {
    margin-bottom: 4px;
}

#main-vis {
    display: grid;
    grid-gap: 1%;
    /*grid-template-columns: 2fr 1fr;*/
    grid-template-columns: 2fr 3fr 3fr;
    /*background-color: white;*/
}

#infos {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*text-justify: inter-word;*/
}


.netpan-vis {
    /*display: flex;*/
    min-height: 730px;
    border: 1px solid black;
    /*background-color: rgba(194, 191, 191, 0.2);*/
}


#bio {
    /*text-justify: inter-word;*/
    text-align: justify;
    /*text-align: justify-all;*/
    padding-right: 20px;
}

#connected-to {
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    /*justify-content: space-evenly;*/
}

/*#connected-to-1 {*/
/*    width: 50%;*/
/*}*/

/*#connected-to-1 {*/
/*    width: 50%;*/
/*}*/

.neighbor-element {
    display: inline-block;
    background-color: rgba(182, 182, 182, 0.4);
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0 1%;
}


.radio-button {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*justify-content: center;*/
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.arrow-button {
    /*display: inline-block;*/
    /*padding: 10px;*/
    margin: 5px;
    cursor: pointer;
    /*border: 2px solid #ccc;*/
    border-radius: 3px;
}


input[type="radio"]:checked + label {
    background-color: #ccc;
}

#time-slider {
    margin: 60px;
    /*margin-right: 60px;*/
    /*margin-left: 60px;*/
}

#map {
    width: 100%;
    height: 100%;
}

#timeline {
    width: 100%;
    /*width: 50%;*/
    height: 100%;
    z-index: 2000;
}

#timeline-container {
    height: 94%;
    width: 100%;
}


#main {
    display: grid;
    /*grid-templates-columns: 1fr 1fr 1fr;*/
    grid-template-columns: 1fr 3fr;
    /*grid-templates-rows: 1fr 1fr;*/
}

#map-div {
    grid-column: 1 / 3;
}

/* FORCE ERASE PARAMS OF NETPANORAMA TEMPLATE*/
#mapDiv {
    height: auto !important;
    width: auto !important;
}

.arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*width: 100px;*/
    /*height: 50px;*/
    /*background-color: #eee;*/
    /*padding: 10px;*/
}

.left-arrow {
    border-right: 10px solid black;
    transform: rotate(135deg);
}

.right-arrow {
    border-left: 10px solid black;
    transform: rotate(-135deg);
}


/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        color: #213547;*/
/*        background-color: #ffffff;*/
/*    }*/

/*    a:hover {*/
/*        color: #747bff;*/
/*    }*/

/*    button {*/
/*        background-color: #f9f9f9;*/
/*    }*/
/*}*/
