:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    /*color: #646cff;*/
    color: white;
    /*text-decoration: inherit;*/
    text-decoration: underline;
}

a:hover {
    color: #535bf2;
}

body {
    /*BLACK MODE */
    /*background-color: #112322;*/
    color: white;

    /*WHITE MODE */
    /*background-color: white;*/
    /*background-color: #efebeb;*/
    /*color: black;*/

    /*background-image: url('./paper-623167.jpg');*/
    /*background-image: url('./darken-background.jpg');*/
    background-image: url('./darken.jpg');
    /*background-image: url('./journalBackground.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    /*margin: 6px 3%;*/
    /*margin: 6px 0;*/
    margin: 6px 2%;
}

#main-axis {
    display: flex;
    flex-direction: column;
}

#head {
    align-items: normal;
    /*justify-content: space-around;*/
    /*text-align: center;*/
}

#legend-row {
    /*align-items: stretch;*/
}

#modes {
    /*flex-grow: 1;*/
    /*align-self: center;*/
    align-items: center;
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
    /*justify-content: space-between;*/
    align-items: stretch;
}

.block {
    /* In percent, the padding depend of the size of the current div*/
    padding: 1em;
    /*border: 3px solid lightgray;*/
    /*border-radius: 10px;*/

    /* WHITE MODE */
    /*background-color: rgba(255, 238, 198, 0.6);*/
    /*background-color: rgb(250, 235, 200);*/
    /*background-color: rgba(255, 234, 194, 0.5);*/

    /* BLACK MODE */
    /*background-color: rgba(75, 70, 58, 0.9);*/
    background-color: rgba(59, 18, 14, 0.9);
}

#key-measures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

.key-measure {
    font-size: 2em;
    font-weight: bold;
}

#main-title {
    width: 30%;
    flex-shrink: 0;
}

.subtitle {
    margin-top: 1.2%;
    margin-left: 2%;
}

#intro-phrase {
    /*font-size: 10pt;*/
    /*margin-bottom: 1%;*/
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
    columns: 3;
}

#story-text {
    text-align: justify;
    text-justify: inter-word;
}

/*.header-item-flex {*/
/*    padding-right: 2%;*/
/*}*/

#title {
    font-size: 3em;
    line-height: 1.4em;
}

#subtitle {
    font-size: 2.1em;
    /*line-height: 1.4em;*/
    color: lightgrey;
}

h2 {
    font-size: 2.1em;
    margin-bottom: 4px;
    padding-top: 0;
}

#main-vis {
    display: grid;
    grid-gap: 1%;
    /*grid-template-columns: 2fr 1fr;*/
    grid-template-columns: 2fr 3fr 3fr;
    /*background-color: white;*/
}

#infos {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*text-justify: inter-word;*/
    flex-grow: 0;
    flex-shrink: 0;
    /*width: 80%;*/
    flex-basis: 100%;
}

#img {
    width: 50%;
    float: left;
    padding-right: 0.6em;
    margin-bottom: -0.1em;
}

#infobio {
    display: inline;
}

#force-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#time-slider {
    width: 30%;
    /*margin: 60px;*/
    /*margin-right: 60px;*/
    /*margin-left: 60px;*/
}


.netpan-vis {
    /*display: flex;*/
    min-height: 730px;
    /*border: 1px solid black;*/
    /*background-color: rgba(194, 191, 191, 0.2);*/
}


#bio {
    /*text-justify: inter-word;*/
    text-align: justify;
    /*text-align: justify-all;*/
    /*padding-right: 20px;*/
}

#connected-to {
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    /*justify-content: space-evenly;*/
}

/*#connected-to-1 {*/
/*    width: 50%;*/
/*}*/

/*#connected-to-1 {*/
/*    width: 50%;*/
/*}*/
/*...n.inLinks.get(t.id) ? n.inLinks.get(t.id) : [],*/
/*                    ...n.outLinks.get(t.id) ? n.outLinks.get(t.id) : [],*/
/*                    ...n.undirectedLinks.get(t.id) ? n.undirectedLinks.get(t.id) : []*/


.neighbor-element {
    display: inline-block;
    background-color: rgba(182, 182, 182, 0.4);
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0 1%;
}

.neighbor-element:hover {
    cursor: pointer;
}


.radio-button {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*justify-content: center;*/
}

input[type="radio"] {
    display: none;
}

label.button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.arrow-button {
    /*display: inline-block;*/
    /*padding: 10px;*/
    margin: 5px;
    cursor: pointer;
    /*border: 2px solid #ccc;*/
    border-radius: 3px;
}


input[type="radio"]:checked + label {
    background-color: #ccc;
}



#map {
    width: 100%;
    height: 100%;
}

#timeline {
    width: 100%;
    /*width: 50%;*/
    height: 100%;
    z-index: 2000;
}

#timeline-container {
    height: 94%;
    width: 100%;
}


#main {
    display: grid;
    /*grid-templates-columns: 1fr 1fr 1fr;*/
    grid-template-columns: 1fr 3fr;
    /*grid-templates-rows: 1fr 1fr;*/
}

#map-div {
    grid-column: 1 / 3;
}

/* FORCE ERASE PARAMS OF NETPANORAMA TEMPLATE*/
#mapDiv {
    height: auto !important;
    width: auto !important;
}

.arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5em;
}

.left-arrow {
    border-right: 10px solid black;
    transform: rotate(135deg);
}

.right-arrow {
    border-left: 10px solid black;
    transform: rotate(-135deg);
}

#selection {
    display: inline-block;
}

#entity-select {
    width: 70%;
}

.span-person {
    background-color: #00A3DD;
    color: white;
}

.span-institution {
    background-color: #1EB53A;
    color: white;
}

.span-publication {
    background-color: #DA0000;
    color: white;
}

.span-event {
    background-color: #006600;
    color: white;
}

.field {
    font-weight: bold;
}

#footer {
    flex-grow: 10;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}

#footer>a {
    margin-right: 2%;
}

#row-footer {
    margin-bottom: 0;
}


/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        color: #213547;*/
/*        background-color: #ffffff;*/
/*    }*/

/*    a:hover {*/
/*        color: #747bff;*/
/*    }*/

/*    button {*/
/*        background-color: #f9f9f9;*/
/*    }*/
/*}*/
